.image-overlay{
	display: none;
}
.bt-tab.style-1 .nav-tabs li a:hover{
	border-color: transparent;
}
.tweet_list img{
	max-width: 32px;
	width: auto;
	height: auto;
}
.widget_flickr .flickr_badge_image{
	margin: 0 0 5px 0;
}
.widget_flickr .flickr_badge_image img{
	max-width: 65px;
	width: auto;
	height: auto;
	float: left;
}

.top-menu-container .sf-menu a{
	border: none;
	padding: 7px 15px;
}
.top-menu-container .sf-menu a, .top-menu-container .sf-menu a:visited{
	color: #b0b0b0;
}
.sf-menu{
	line-height: normal;
	margin-bottom: 0;
}
.sf-menu li,
.sf-menu li li,
.sf-menu li li li{
	background: #211f22;
	margin: 0 !important;
}
.top-menu-container .sf-menu li:hover, .top-menu-container .sf-menu li.sfHover,
.top-menu-container .sf-menu a:focus, .top-menu-container .sf-menu a:hover, .top-menu-container .sf-menu a:active {
	background:		#211f22;
	outline:		0;
	color: #fff;
}
.main-menu .sf-menu a, .main-menu .sf-menu a:visited{
	color: #aaa;
}
.main-menu .sf-menu li:hover, .main-menu .sf-menu li.sfHover,
.main-menu .sf-menu a:focus, .main-menu .sf-menu a:hover, .main-menu .sf-menu a:active{
	background: #111;
	color: #fff;
}

.ticker-wrapper.has-js,
.ticker{
	background-color: transparent !important;
}
.ticker-content a{
	color: #aaa !important;
}
.ticker-content a:hover{
	text-decoration: none !important;
}